.single-product {
	max-width: 100%;
	background: var(--main-bg-color);
	height: 100vh;
	display: flex;

	overflow: hidden;
	align-items: center;

	.product-img {
		height: 100vh;
		max-width: 50%;
		width: 100%;
		overflow: hidden;
		position: relative;
		.image {
			position: absolute;
			top: 50%;
			left: 50%;
			height: auto;
			width: 100%;
			transform: translate(-50%, -50%);
		}
	}
	.product-info {
		padding: 80px;
		display: flex;
		max-width: 600px;
		flex-direction: column;
		.latin {
			font-style: italic;
		}

		.btn-wrap {
			display: flex;
		}
	}
	@media (max-width: 1280px) {
		.product-img {
			max-width: 700px;
			.image {
				min-width: 760px;
			}
		}
		.product-info {
			padding: 40px;
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
		.product-img {
			max-width: 100%;
			height: 460px;
		}
	}
	@media (max-width: 480px) {
		.product-img {
			.image {
				min-width: 100%;
			}
		}
	}
}
