.qty-wrap {
	min-width: 130px;
	margin-right: 20px;
	.counter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #616161;
		background: transparent;
		min-height: 46px;
		box-sizing: content-box;

		.btn {
			width: 33%;
			font-size: 28px;
			padding: 5px 10px;
			border: none;
		}
		span {
			font-size: 24px;
		}
	}
	@media (max-width: 768px) {
		.counter {
			min-height: 36px;
			.btn {
				font-size: 24px;
			}
			span {
				font-size: 20px;
			}
		}
	}
	@media (max-width: 480px) {
		min-width: 100px;
		.counter {
			span {
				font-size: 16px;
			}
		}
	}
}
