.container {
	display: flex;
	justify-content: space-between;
	.contact-wrap {
		margin: 100px 200px 0 200px;
		max-width: 900px;
		width: 100%;
		.info {
			margin-bottom: 100px;

			.contact-info {
				margin-bottom: 50px;

				width: 100%;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
				grid-column-gap: 20px;
				&:nth-of-type(2) {
					margin-bottom: 0;
				}
				.label-input {
					position: relative;
				}
			}
		}
	}
	.order-summary {
		padding: 100px 100px 0 100px;
		width: 100%;
		background: var(--sec-bg-color);
		height: 100vh;
		z-index: 3;
		.title {
			border-bottom: 1px solid #dcdcdc;
			padding-bottom: 20px;
		}
		.item-wrap {
			margin-bottom: 20px;

			.item-img {
				max-width: 120px;
				width: 100%;
			}
			.item-text {
				.name {
					font-size: 20px;
				}
			}
			.delete-item {
				display: none;
			}
			&:last-of-type {
				margin-bottom: 80px;
			}
		}
		.cart-total {
			display: flex;
			justify-content: space-between;
			padding-top: 20px;
			border-top: 1px solid #dcdcdc;
			.total {
				font-weight: 400;
				font-size: 20px;
			}
		}
	}
	@media (max-width: 1280px) {
		.contact-wrap {
			margin: 100px 80px 0 80px;
		}
		.order-summary {
			padding: 100px 80px 0 80px;
			.item-wrap {
				.item-img {
					max-width: 100px;
				}
				.item-info {
					padding: 15px;

					.item-text {
						.name {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	@media (max-width: 768px) {
		.contact-wrap {
			margin: 100px 30px 0 30px;

			.info {
				margin-bottom: 50px;
				.contact-info {
					margin-bottom: 20px;
				}
			}
		}
		.order-summary {
			padding: 100px 30px 0 30px;
			.item-wrap {
				.item-img {
					max-width: 80px;
				}
			}
			.cart-total {
				.total {
					font-size: 17px;
				}
			}
		}
	}
	@media (max-width: 768px) {
		flex-direction: column-reverse;
		.order-summary {
			padding: 100px 30px 30px 30px;
			height: 100%;
		}
		.contact-wrap {
			width: auto;
		}
	}
	@media (max-width: 480px) {
		.contact-wrap {
			margin: 50px 30px 0 30px;
			.info {
				.contact-info {
					display: flex;
				}
			}
		}
	}
}
