@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:800&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

:root {
	--main-bg-color: #efe8e2;
	--sec-bg-color: #fbf7f4;
	--border-color: #3b2060;
	--blurred-bg-color: rgba(53, 41, 67, 0.5);
}

a {
	text-decoration: none;
	transition: all 0.3s;

	&:focus {
		padding: 5px;
		outline: none;
		box-shadow: 0 0 0 1px black;
		transition: all 0.3s;
	}
}
body {
	margin: 0;
	background: var(--main-bg-color);
}

h1 {
	margin-bottom: 10px;
	font-size: 60px;
	font-family: "Playfair Display", serif;
	line-height: 1;
	@media (max-width: 1280px) {
		font-size: 50px;
	}
	@media (max-width: 768px) {
		font-size: 40px;
	}
}
h2 {
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 50px;
	@media (max-width: 768px) {
		font-size: 20px;
		margin-bottom: 30px;
	}
}

h3 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 30px;
	@media (max-width: 768px) {
		font-size: 20px;
		margin-bottom: 15px;
	}
}
h4 {
	font-size: 20px;
	margin-bottom: 30px;
}
h5 {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 40px;
	@media (max-width: 768px) {
		font-size: 15px;
		margin-bottom: 15px;
	}
}
p {
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 30px;
	color: #454545;
	@media (max-width: 768px) {
		font-size: 13px;
	}
}

img {
	width: 100%;
	display: block;
}

button {
	margin: 0;
	border: 0;

	cursor: pointer;
	outline: 0;
	background: transparent;

	&:disabled {
		opacity: 0.5;
		cursor: default;
		&:hover {
			background: transparent;
		}
	}
	&:focus {
		box-shadow: 0 0 0 2px var(--main-bg-color), 0 0 0 3px #454545;
	}
}

input[type="text"] {
	-webkit-appearance: none;

	background: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #979797;
	color: #000;
	outline: none;
	width: 100%;
}

.btn {
	width: 100%;
	min-height: 46px;
	padding: 12px 22px;
	font-size: 16px;
	background-color: #000;
	border: 1px solid #000;
	color: var(--sec-bg-color);
	position: relative;
	transition: all 0.3s;
	z-index: 0;
	&:before {
		content: "";
		width: 100%;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		background: var(--main-bg-color);
		transition: all 0.3s;
		z-index: -1;
	}

	&:hover {
		color: #000;
		&:before {
			height: 100%;
		}
	}
	&.light {
		background-color: transparent;
		color: #000;
		&:before {
			background-color: #000;
		}
		&:hover {
			color: var(--sec-bg-color);
		}
	}
	@media (max-width: 768px) {
		min-height: 36px;
		padding: 5px 10px;
	}
	@media (max-width: 480px) {
		font-size: 12px;
	}
}

::selection {
	background-color: #151515;
	color: var(--sec-bg-color);
}
