@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:800&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

:root {
	--main-bg-color: #efe8e2;
	--sec-bg-color: #fbf7f4;
	--border-color: #3b2060;
	--blurred-bg-color: rgba(53, 41, 67, 0.5);
}

a {
	text-decoration: none;
}
body {
	margin: 0;
	background: var(--main-bg-color);
}

h1 {
	margin-bottom: 10px;
	font-size: 60px;
	font-family: "Playfair Display", serif;
	line-height: 1;
}

h3 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 30px;
}
h4 {
	font-size: 20px;
	margin-bottom: 30px;
}
h5 {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 40px;
}
p {
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 30px;
	color: #454545;
}

img {
	width: 100%;
	display: block;
}

button {
	margin: 0;
	border: 0;

	cursor: pointer;
	outline: 0;
	background: transparent;
	min-height: 50px;
}
