.plant-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	margin-right: 10px;
	.plant-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #000;
		margin-top: 20px;
	}
}
