.plant-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	.plant-img {
		margin-bottom: 15px;
	}
	.plant-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #000;
		margin-bottom: 20px;

		.name {
			font-family: "Playfair Display", serif;
			font-size: 20px;
			margin-bottom: 0;
		}
		.price {
			margin-bottom: 0;
			font-size: 18px;
			font-weight: 300;
		}
	}
}
